.#*
*.pyc
*.log
config.json
openpass_cs/openpass_cs/openpass_cs/bin/*
openpass_cs
myopenlog.log
myOpenProto.py
devices.txt
*.db
*.swp
*.pem
settings.json
lgg-databases*
lgg-software*
test.py
venv
.pyenv
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
Wireshark Captures
myopen/open_hmac_test.py