.#*
*.pyc
*.log
conf*.json
openpass_cs/openpass_cs/openpass_cs/bin/*
openpass_cs
myopenlog.log
myOpenProto.py
devices.txt
*.db
*.swp
*.pem
settings.json
lgg-databases*
lgg-software*
test.py
venv
.vscode/settings.json
