{% block devices_tree %}
<div class="tree-header"><span class="tree-arrow">▸</span><img 
    src="/static/images/" class="tree-icon"/><span class="tree-item" 
    id="system-{{ s.id }}-devices">devices</span></div>
<div class="tree-level">{% for serial, device in s.devices.items() %}
    <div class="tree-header"><span class="tree-icon"
        ></span><img class="tree-icon" src="/static/images/{{ device.icon() }}"/> <span class="tree-item">dev : {{ serial }} : {{ device.MODEL_ID }}</span></div>
    {% endfor %}
</div>
{% endblock %}