{% block gateway_tree %}
<div class="tree-header"><span class="tree-blank"> </span><img 
    src="/static/images/F454_icon.png" 
    class="tree-icon"/><span class="tree-item" id="system-{{ s.id }}-gateway">{{ s.gateway.address }}</span></div>
<div class="tree-level">

</div>
{% endblock %}