<html>
    <head>
        <title>Automator</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div>systems list</div>
        <div class="tree">{% for s in systems %}
        {% include 'system.j2' %}{% block system_tree %}{% endblock %}
        {% endfor %}</div>
        
    </body>
</html>