html, body, div, a{
    outline: 1px solid black;
}
html {
    height: 100%;
    font-family: sans-serif;
    font-size: 10pt;
    --header-height: 50pt;
}
body {
    height: 100%;
    margin: 0;
    flex-direction: column;
}
#header {
    height: var(--header-height);
}
.tab-bar {
    
}
.tab-bar a {
    padding: 3pt;
}
#main {
    display: flex;
    flex-direction: row;
    height: calc( 100% - var(--header-height) );
}

/* classes for ConfigWindow*/

.options-tree {
    display: flex;
    width: 15%;
}
.resize-bar {
    display: flex;
    width: 5pt;
    cursor: ew-resize;
}
.detail-container {
    display: flex;
    width: calc(100% - 15% - 5pt);
}