.device-config {
    font-family: sans-serif;
    --header-height: 64px;
    --default-spacing: 4pt;
    --caption-width: calc( 100% - var(--header-height) - var(--default-spacing));
    --button-width: calc( var(--header-height) * 2 );
    --name-width: calc( var(--caption-width) - var(--default-spacing) - var(--button-width));
    --slot-font-size: 10pt;
    --default-width: 800px;
    --border-width: 1px;
    --slots-per-line: 2;
    --margins-width: calc( var(--default-spacing) * calc( var(--slots-per-line) - 1 ) );
    --avail-width: calc( var(--default-width) - var(--margins-width) );
    --width-with-border: calc( var(--avail-width) / var(--slots-per-line) );
    --borders-width: calc( var(--border-width) * 2 );
    --slot-width: calc( var(--width-with-border) - var(--borders-width) );
    width: var( --default-width );
    --hover-background: #eee;
    --border-color: #d7d7d7;
}
.device-config-header {
    margin-bottom: 10pt;
    margin-top: 4pt;
    line-height: calc ( var(--header-height) / 2);
    vertical-align: top;
    width: 100%
}
.device-config-icon {
    display: inline-block;
    height: var(--header-height);
    width: var(--header-height);
    margin-right: var(--default-spacing);
}
.device-config-caption {
    display: inline-block;
    height: var(--header-height);
    vertical-align: top;
    width: var(--caption-width);
}
.device-config-manufacturer-logo {
    display: inline-block;
    width: var(--header-height);
    height: calc( var(--header-height) / 2 );
    line-height: calc( var(--header-height) / 2 );
    color: #ccc;
    font-size: 12pt;
    margin-right: 4pt;  
    vertical-align: middle;
}
.device-config-device-reference {
    vertical-align: middle;
}
.device-config-name {
    font-size: 18pt;
    color: #bbb;
    height: calc( var(--header-height) / 2 );
    overflow-x: hidden;
    width: var(--name-width); 
}
.device-config-buttons {
    float: right;
    width: var(--button-width);
}
.device-config-button {
    display: block;
    border-radius: 3px;
    font-size: calc( var(--slot-font-size) - 2pt );
    width: var(--button-width);
    border: var(--border-width) solid #777;
    color: black;
    background-color: #ddd;
    margin-bottom: var(--default-spacing);
}
.device-config-button:disabled {
    color: #999;
}
.device-config-description {
    width: calc( 100% - var(--borders-width) );
    height: 150px;
    border: var(--border-width) solid var(--border-color);
    margin-bottom: 10pt;
}
.device-slots :nth-child(even) {
    margin-right: 0;
}
.device-slot {
    vertical-align: top;
    --slot-padding: 4pt;
    --slot-total-padding: calc( var(--slot-padding) * 2 );
    display: inline-block;
    --slot-available-width: calc( var(--slot-width) - var(--slot-total-padding) );
    width: var(--slot-available-width); 
    border: var(--border-width) solid var(--border-color);
    margin-right: var(--default-spacing);
    margin-bottom: var(--default-spacing);
    padding-left: var(--slot-padding);
    padding-right: var(--slot-padding);
    --slot-label-width: calc( var(--slot-available-width) / 3 );
    --slot-input-width: calc( var(--slot-label-width) * 2 );
}
.device-slot-line {
    margin-top: var(--default-spacing);
    margin-bottom: var(--default-spacing);
    --slot-address-width: calc( var(--slot-input-width) / 2 );
    --slot-address-input-label-width: calc( var(--slot-address-width) / 4 );
    --slot-address-input-width: calc( var(--slot-address-input-label-width) * 3 );
}
.device-slot-line:hover {
    background: var(--hover-background);
}
.device-slot-label {
    display: inline-block;
    font-size: var(--slot-font-size);
    width: var(--slot-label-width);
}
.device-slot-address {
    font-size: var(--slot-font-size);
    width: var(--slot-address-input-width);
    border: var(--border-width) solid var(--border-color);
    text-align: right;
}
.device-slot-address-label {
    display: inline-block;
    text-align: right;
    margin-right: var(--default-spacing);
    font-size: var(--slot-font-size);
    width: calc( var(--slot-address-input-label-width) - var(--default-spacing) );
}
.device-slot-area {
    font-size: var(--slot-font-size);
    width: var(--slot-input-width);
    border: var(--border-width) solid var(--border-color);
}
.device-slot-integer {
    font-size: var(--slot-font-size);
    width: var(--slot-input-width);
    border: var(--border-width) solid var(--border-color);
    text-align: right;
}
.device-slot-group {
    font-size: var(--slot-font-size);
    width: var(--slot-input-width);
    border: var(--border-width) solid var(--border-color);
    text-align: right;
}
.device-slot-select {
    background-color: transparent;
    font-size: var(--slot-font-size);
    width: var(--slot-input-width);
    border: var(--border-width) solid var(--border-color);
}
.device-slot-select:hover {
    background: var(--hover-background);
}