html {
    --tree-line-wh: 22px;
}
.tree {
    position: relative;
    display: inline-block;
    width: 200pt;
    line-height: var(--tree-line-wh);
    font-family: sans-serif;
    font-size: 10pt;
}
.tree-level {
    position: relative;
    display: block;
    width: 100%;
/*
    padding-left: var(--tree-line-wh);
*/
}
.tree-level > .tree-level {
    margin-left: var(--tree-line-wh);
}
.tree-header {
    position: relative;
    display: block;
    height: var(--tree-line-wh);
    left: 0pt;
    width: 100%;
    margin-bottom: 2pt;
}
.tree-arrow {
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    height: var(--tree-line-wh);
    width: var(--tree-line-wh);
    margin: 0;
    color: black;
    cursor: pointer;
}
.tree-blank {
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    height: var(--tree-line-wh);
    width: var(--tree-line-wh);
    margin: 0;
}
.tree-icon {
    font-family: sans-serif;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    height: var(--tree-line-wh);
    width: var(--tree-line-wh);
    margin-right: calc(var(--tree-line-wh) / 4);
    color: gray;
    cursor: pointer;
}
.tree-item {
    cursor: pointer;
}